<link rel = "stylesheet" href = "styles/main.css" />

<%- include("partials/header.ejs") %>

<a href = "/create"><button type = "button" id = "create-button" class = "grow-button">
    <span id = "create">Create</span> Post</button>
</a>

<div class = "divider"></div>
<section id = "hero">
    <div id = "share-story"><h1 id = "shareH1">Share your story.</h1></div>
</section>
<div class = "divider lighter"></div>

<section id = "posts">
    <% if (numPosts == 0) { %>
        <div></div>
        <h1 id="no-posts">No posts currently available. Create a post to begin viewing.</h1>
        <div></div>
    <% } else { 
        for (var i = 0; i < posts.length; i++) { %>
        <div class = "post">
            <form action = "/view" method = "POST">
                <h2 class = "postTitles"> <%= posts[i].title %></h2>
                <div id = "author-date">
                    <h3 class = "postDetails">Author: <%= posts[i].author %></h3>
                    <h3 class = "postDetails">Date: <%= posts[i].date_created %></h3>
                </div>
                <input type="number" name= "PostId" value="<%= posts[i].id %>" hidden>
                <input type = "submit" class = "view-button grow-button" value = "View">
            </form>
            <form action="/edit" method="POST">
                <input type="number" name="PostId" value="<%= posts[i].id %>" hidden>
                <input type="submit" class="edit-button grow-button" value="Edit">
            </form>

            <form action = "/delete" method = "POST">
                <input type="number" name= "PostId" value="<%= posts[i].id %>" hidden>
                    <input type="submit" class = "delete-button grow-button" value = "Delete"/>
            </form>
        </div>
    <% } 
    } %>
</section>

<div class = "divider"></div>

<%- include("partials/footer.ejs") %>